<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @author.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @author.article_id %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
